{
    margin: 0;
    padding: 0;
}









.cabeçalho {

background-color:#383D58;
color: #ffffff;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px;


}

.cabeçalho-imagem{
    width: 20%;
    
}